.line {
    height: 6px;
    width: 70px;
    background: black;
    margin: 8px auto;
}
#MyCarousel{
    background-color: chartreuse;
}
#MyCarousel img{
    height : 300px;
    width : 300px;
    margin-top : 35px;
}
.carousel-content p{
    color : crimson;
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}